
/*-- import fonts from fonts.css--*/
@import url(./fonts.css);
/*css variable*/
@import url(./partials/_variables.css);
@import url(./partials/_global.css);

/*--nav-bar section--*/
/* 
.header_area{
    position: sticky;
    top: 0;
    z-index: 10;
    background: white;
} */
.navbar-brand img
{
    height: 50px;
}
.header_area .main-menu .navbar {
    padding: 1rem 10rem;   
}
.header_area .main-menu .nav-item .nav-link {
    font: normal bold 15px/2px var(--roboto);
    padding: 1.2rem;
    color: var(--title-color); 
    text-transform: uppercase;
}

.header_area .main-menu .navbar-nav .active a{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.header_area .main-menu .navbar-nav a:hover{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/*---End of Navbar ---^/

/*Site or Banner Area */

.site-main .site-banner{
background: url(../img/home-banner.png) no-repeat ;
background-size: cover ;
background-position: center;
background-attachment: fixed;
height: 100vh;
}
.site-main .site-banner .site-title h3{
    padding-top:35% ;
    font-weight: 500;
}
.site-main .site-banner .site-title h3:after{
    content: " ";
    height: 2px;
    width: 18vw;
    background: black;
    display: inline-block;
    margin-left: 5%;
    transform: translateY(-10px);
}
.site-main .site-banner .site-title h1{
    font-size: 5rem ;
}
.site-main .site-banner .site-title h4{
    font-size: 1.5rem ;
}
.site-main .site-banner .banner-image img{
    margin: 7rem 0;
    width: 90rem;
    filter: grayscale(1);
} 
.site-main .site-banner .banner-image .img-box img{
    border-radius: 30px ;
}
.site-main .site-banner .banner-image img:hover{
    filter: grayscale(0);
    transition: 0.5s;
    box-shadow: var(--box-shadow)
} 

/*about Area*/

.site-main .about-area{
    padding: 3rem 15rem;
}
.site-main .about-area h1{
    font-size: 35px;
}
.site-main .about-area .about-title{
    font: normal bold 49px/60px var(--roboto);
}

.site-main .about-area .about-title h2> span{
    display: block;
    font: normal bold 49px/60px var(--roboto);
    letter-spacing: 21px;
}
.site-main .about-area .about-title .paragraph >p{
    padding: .4rem 0;
}
.site-main .about-area .skills-bar{
    margin-top: 2px;
}

.experience-area{
    padding-top: 2rem;

    padding-bottom: 0rem;
}
.experience-area span{
    display: block;
}
.experience-area .years-area{
    background: url(../img/client-info-bg.png) no-repeat 45px 20px;
    padding:2rem 0;
    width: 40rem;
    height: 14rem;
    padding-left: 9rem;
    position: relative;
}
.experience-area .years-area .years{
    font: normal bold 84px/40px var(--roboto);
    color: var(--primary-color2);
    z-index: 2;
}
.experience-area .years-area .years-practice{
    font: normal 600 22px/30px var(--roboto);
}
.skills-bar p
{
    margin-bottom: 0rem;
    font-weight: 600;
}
.progress
{
    border-radius: 16px !important;
    margin-bottom: 1rem;
}
.progress-bar
{
    border-radius: 16px;
    background: var(--gradient-color);
    
}

/*End of About Area */

/*Services Area*/

.services-area{
    padding: 5rem 2rem;
}

.services-area .services-title{
    padding: 0 14rem;
}

.services-area .services-title h1{
    font-size: 35px;
}

.services-area .services{
    background: rgba(248, 252, 253, 0.973);
    padding: 2rem 0;
    width: 16rem;
    margin: 5rem 0.5rem;
    transition: .7s ease;
    box-shadow: var(--box-shadow-light);
}
.services-area .services:hover{
    box-shadow: var(--box-shadow);
}

/*End of Services Area*/

/*Project Area */
.site-main .project-area{
    padding: 4rem 0;
}
.site-main .project-area .button-group button{
    background: transparent;
    border: none;
    font: normal 500 16px/130px var(--roboto);
    text-transform: uppercase;
}

.site-main .project-area .button-group button + button{
    padding-left: 3rem;
}
.site-main .project-area .grid .our-project  .title h4{
    font: normal 700 25px/12px var(--roboto);
}


/*End of Project Area*/