
/*-- import fonts from fonts.css--*/
@import url(./fonts.css);
/*--nav-bar section--*/

.header_area .main-menu .navbar .navbar-brand{
    padding: 0 2rem 0 5rem;
}
.header_area .main-menu .navbar {
    padding: 1rem 20rem;
}
.navbar-brand img
{
    height: 40px;
    padding-left: 30px ;
}
.main-menu ul li a:hover
{
    color: rgba(0, 0, 110, 0.747) !important;
    border-bottom: 1px #555 solid;
    transition: 0.2s ease-in;
}
.nav-item
{
    padding: 0 10px;
}
